<%= render partial: "application/page_banner" %>

<div class="carousel-container container">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("banner_img_2.jpg", :alt => "Trucks Lined Up") %>
    </div>
    <div class="item">
      <%= image_tag("banner_img_1.jpg", :alt => "Trucks Lined Up") %>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="front-page-callout">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 text-center">
						Here at Integrity HVACR we are interested in helping you afford your new HVAC system. For more information please visit our financing section
					</div>
					<div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8">
						<a href="/financing" type="button" class="btn btn-primary btn-block">Click Here For Financing Options</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 front-page-panel">
			<h1>Commercial</h1>
			<%= image_tag("commercial.jpg", height: '100%', width: '100%') %>
			<p>The answer to all your commercial HVAC and refrigeration needs IS INTEGRITY. 
				Our goal is to keep your operations working and your business successful. 
				We offer emergency service, complete with trained and licensed technicians 
				who are dedicated to providing prompt, reliable...</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 front-page-panel">
			<h1>Residential</h1>
			<%= image_tag("residential.jpg", height: '100%', width: '100%') %>
			<p>Home is where the heart is and when you encounter sudden heating and cooling 
				needs at home, Integrity is here to help. We understand how important heating 
				and cooling can be in your home, that’s why we offer emergent service, complete 
				with trained and licensed technicians...</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 front-page-panel">
			<h1>Coupons</h1>
			<%= image_tag("coupons.jpg", height: '100%', width: '100%') %>
			<p>Coupons are a great way to save money on projects around the house. 
				Here at Integrity we offer coupons because everyone loves to save 
				a few bucks here and there. Check out our coupon page before working 
				with us because there might be a discount that applys to you...</p>
		</div>
	</div>
</div>





















